<!doctype html>
<html>
  <head>
    <title>flaskwebsite</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id = "container">
    <h1>XYX Software Solutions</h1>
    <img id ="banner" src = "/static/banner.jpeg" >
    <h2>About XYX Software Solutions</h2>
    <p class= "bodytext">XYZ Software Solution is a cutting-edge technology platform that revolutionizes the way businesses operate and manage their processes. With its robust and customizable features, XYZ Software Solution caters to a diverse range of industries, providing seamless integration and efficient solutions for complex business challenges. The software is designed with user-friendly interfaces, making it accessible for both tech-savvy professionals and those new to advanced technology. Its innovative modules cover various aspects of business operations, from project  management and resource allocation to data analytics and reporting. XYZ Software Solution stands out for its scalability, adaptability, and commitment to staying ahead of industry trends, ensuring that businesses can thrive in an ever-evolving digital landscape.
    </p>

    <h2>Open Positions</h2>
    <p class = "bodytext">todo- sho jobs here</p>
    <div style="text-align:center;">
    <button>Contact Us</button>
      <p>
        Copyright 2022, XYX Software Solutions
      </p>
    </div>
    </div>
  </body>
</html>